<script>
  import { navigate } from 'svelte-routing'
  import { to } from '../utils'
  import { signUp } from "../components/auth";

  let error = '';
  let username = "";
  let password = "";
  let passwordRepeat = "";

  async function handleSignUp() {
    error = ''

    if (password !== passwordRepeat) {
      error = 'Password are not identical'
      return
    }

    let [_, err] = await to(signUp({username, password }));
    if (err) {
      error = 'Something went wrong...'
      return
    }

    navigate('/signin')
  }
</script>

<h1>SignUp</h1>

{#if error}
<p style="color: red">{error}</p>
{/if}

<dl>
  <dt>Username:</dt>
  <dd>
    <input bind:value={username} />
  </dd>

  <dt>Password:</dt>
  <dd>
    <input type="password" bind:value={password} />
  </dd>

  <dt>Password (repeat):</dt>
  <dd>
    <input type="password" bind:value={passwordRepeat} />
  </dd>

  <dd>
    <button on:click={handleSignUp}>Sign up</button>
  </dd>
</dl>
