<script>
  import queryString from "query-string";
  import url from "url";
  import { signIn, signOut } from "../components/auth";
  import { user, userState } from "../store";
  import { Link, navigate } from "svelte-routing";
  import { to } from "../utils";

  let error = "";
  let username = "";
  let password = "";

  function getRedirectUrl() {
    const parsed = queryString.parse(location.search);
    if (!parsed.redirect) return;
    const redirectUrl = url.parse(parsed.redirect);
    if (redirectUrl.protocol || redirectUrl.hostname) return;
    return parsed.redirect;
  }

  async function handleSignIn() {
    error = false;

    let [_, err] = await to(signIn(username, password));

    if (err) {
      switch (err.name) {
        case "AuthError":
          error = err.log;
          break;

        case "UserNotConfirmedException":
          error = "Please verify your account";
          break;

        default:
          error = "Please try again";
      }
      return;
    }

    const redirectUrl = getRedirectUrl();
    navigate(redirectUrl ? redirectUrl : "/dashboard");
  }
</script>

<h1>SignIn</h1>

{#if error}
  <p style="color: red">{error}</p>
{/if}

<input type="text" bind:value={username} />
<input type="password" bind:value={password} />
<button on:click={handleSignIn}>Sign in</button>

<div>
  Or
  <Link to="signup">sign up</Link>
</div>
