<script>
  import { link } from "svelte-routing";
  import { signOut } from "./auth";
  import { user } from "../store";
</script>

<style>
  #sidebar {
    display: flex;
  }

  #sidebar > a {
    margin-right: 10px;
  }
</style>

<nav id="sidebar">
  <a use:link href="dashboard">Dashboard</a>
  <a use:link href="about">About</a>
  <a href="#" on:click={signOut}>Sign out</a>
  Current user: {$user.username}
</nav>
