<script>
  import { Router, Route } from "svelte-routing";
  import { Sidebar } from "./components";
  import { url, userState } from "./store";
  import routes from "./routes";
</script>

<Router url={$url}>
  {#if $userState == 'signedIn'}
    <Sidebar />
  {/if}
  <div>
    {#each routes as { path, component }}
      <Route {path} {component} />
    {/each}
  </div>
</Router>
